/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Remove a barra de rolagem horizontal */
    background-color: #f9f9f9;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

header {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    margin-bottom: 20px;
}
